

.backgroundComponent{
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 50px;
    max-width: 100vw;

    &:hover {
        .descriptionComponent {
            opacity: 1;
            height: 35%;
            transition: 500ms ease-in-out;
        }
    }
}

.descriptionContainer{
    position: absolute;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: end;
    font-size: 20px;

    &:hover {
        cursor: default;
    }
}

.descriptionComponent{
    padding-inline: 100px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 10%;
    opacity: 0;
    width: 100%;
    height: 0;
    color: #202020;
    background-color: #f5f5f5d2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;

    p{
        place-self: center;
    }
}

.containerFerramentas {
    display: grid;
    grid-template-columns: max-content 50%;
    gap: 15px;
}

.divFerramentas {
    width: fit-content;
    color: #202020;
    font-weight: bold;
    align-self: center;
}

.tagFerramenta {
    background-color: #202020;
    color: #D4FFF0;
    height: fit-content;
    width: fit-content;
    padding-inline: 10px;
    padding-bottom: 3px;
    align-self: center;
    text-align: center;
    border-radius: 50px;
    margin-right: 7px;
}

.tagsF {
    display: flex;
    height: fit-content;
    align-self: center;
}

/* .videoContainer{
    height: 100px;
    width: 160px;
    background-color: black;
    grid-row: span 2;
    place-self: center;
} */

.cintBackground{
    height: 90vh;
    color: aliceblue;
    background-color: #6CAE5A;
    display: flex;
    flex-direction: column;
    align-items: center;



    .cintTitle {
        margin-top: 10px;
        background-color: #6EB855;
        height: 80px;
        width: 126px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 2px 2px 5px #4e833d;

        img {
            padding-top: 15px;
        }
    }

    .cintScreens {
        display: flex;
        height: 400px;
        width: fit-content;
        margin-top: 40px;

        img {
            object-fit: contain;
        }
    }

    ::selection {
        background-color: #6CAE5A;
    }
}
