* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #ECECEC;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-padding-top: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.linha1 {
  display: flex;
  justify-content: center;
}

.linha2 {
  display: flex;
  justify-content: center;
}

.linha3 {
  display: flex;
  justify-content: center;
}

.Footer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  width:100%;
  background-color: rgb(19, 37, 37);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.App-header {
  height: 60px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 2;
  background-color: #FCFCFC;

  .navbar {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
  }
   .indice {
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-inline: 40px;
    color: #202020;
    background-color: #FCFCFC;

    &:hover {
      cursor: pointer;
      background-color: #D4FFF0;
    }
  } 
}

#nome {
  background-color: #202020;
  color: #ECECEC;
  width: 285px;
  height: inherit;
  border-bottom-right-radius: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.headerspace {
  height: 60px;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
}

#projetos {
  height: 90vh;
  width: 100%;
}

#tecnologias {
  height: 90vh;
  width: 100%;
}

@media screen and (max-width: 1020px) {
  .linha1, .linha2, .linha3{
    flex-wrap: wrap;
    transition: linear 500ms;
  }
}